
# Teste de competência, organizando dados bagunçados  do IMDB
# Autoria: @pedroblaschi   -  [linkedin](https://www.linkedin.com/in/pedro-blaschi-a3b5b22a9/)  -  [github](https://github.com/blaschis/blaschis) <p>

# Libs

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import datetime

warnings.filterwarnings('ignore')

# Lendo e coletando informação

In [93]:
df = pd.read_csv('messy_IMDB_dataset.csv', encoding='ISO-8859-1', delimiter=';')

In [92]:
df

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

# Renomeando colunas

In [91]:
df = df.rename(columns={'Original titlÊ':'Original title','Genrë¨':'Genre'})

In [ ]:
df.isna().sum()

IMBD title ID       1
Original title      1
Release year        1
Genre               1
Duration            2
Country             1
Content Rating     24
Director            1
Unnamed: 8        101
Income              1
 Votes              1
Score               1
dtype: int64

In [ ]:
df['Content Rating'].unique()

array(['R', 'PG-13', 'Not Rated', 'Approved', nan, 'PG', 'Unrated', 'G'],
      dtype=object)

In [ ]:
df[df['Content Rating'].isna()]

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,tt0118799,La vita B9 bella,1997-12-20,"Comedy, Drama, Romance",116,Italy1,NaN,Roberto Benigni,NaN,$ 230098753,605.648,8.6
28,tt6751668,Gisaengchung,2019-11-07,"Comedy, Drama, Thriller",132,South Korea,NaN,Bong Joon Ho,NaN,$ 257604912,470.931,8.6
36,tt0110413,LÃ©on,1995-04-07,"Action, Crime, Drama",110,France,NaN,Luc Besson,NaN,$ 19552639,1.007.598,8.5
40,tt7286456,Joker,2019-10-03,"Crime, Drama, Thriller",122,USA,NaN,Todd Phillips,NaN,$ 1074251311,855.097,8.4
41,tt1675434,Intouchables,2012-02-24,"Biography, Comedy, Drama",112,France,NaN,"Olivier Nakache, Ãric Toledano",NaN,$ 426588510,736.691,8.4
47,tt0095327,Hotaru no haka,2015-10-11,"Animation, Drama, War",89,Japan,NaN,Isao Takahata,NaN,$ 516962,225.438,8.3
48,tt0095765,Nuovo Cinema Paradiso,1988-11-17,Drama,155,Italy,NaN,Giuseppe Tornatore,NaN,$ 13826605,223.050,8.3
56,tt4154756,Avengers: Infinity War,2018-04-25,"Action, Adventure, Sci-Fi",149,USA,NaN,"Anthony Russo, Joe Russo",NaN,$ 2048359754,796.486,8.2
58,tt4154796,Avengers: Endgame,2019-04-24,"Action, Adventure, Drama",181,USA,NaN,"Anthony Russo, Joe Russo",NaN,$ 2797800564,754.786,8.2
62,tt0047396,Rear Window,1955-04-14,"Mystery, Thriller",112,USA,NaN,Alfred Hitchcock,NaN,$ 37032034,432.390,8.1
63,tt2380307,Coco,2017-12-28,"Animation, Adventure, Family",105,USA,NaN,"Lee Unkrich, Adrian Molina",NaN,$ 807083670,352.455,8.1
65,tt4633694,Spider-Man: Into the Spider-Verse,2018-12-25,"Animation, Action, Adventure",117,USA,NaN,"Bob Persichetti, Peter Ramsey",NaN,$ 375540831,335.892,8.1
66,tt1187043,3 Idiots,2009-12-25,"Comedy, Drama",170,India,NaN,Rajkumar Hirani,NaN,$ 60262836,332.217,8.1
69,tt0032553,The Great Dictator,1945-06-25,"Comedy, Drama, War",125,USA,NaN,Charles Chaplin,NaN,$ 969879,197.381,8.0
70,tt0043014,Sunset Blvd.,"The 6th of marzo, year 1951","Drama, Film-Noir",110,USA,NaN,Billy Wilder,NaN,$ 299645,195.789,8.0
81,tt0066921,A Clockwork Orange,1972-09-07,"Crime, Drama, Sci-Fi",136,UK,NaN,Stanley Kubrick,NaN,$ 26903440,740.301,7.8
86,tt0093058,Full Metal Jacket,1987-10-09,"Drama, War",116,UK,NaN,Stanley Kubrick,NaN,$ 46357676,658.175,7.7
89,tt0033467,Citizen Kane,1948-11-25,"Drama, Mystery",119,USA,NaN,Orson Welles,NaN,$ 1594107,389.322,7.6
90,tt8579674,1917,2020-01-23,"Drama, War",119,USA,NaN,Sam Mendes,NaN,$ 384857224,362.897,7.6
92,tt0052357,Vertigo,1958-11-18,"Mystery, Romance, Thriller",128,USA,NaN,Alfred Hitchcock,NaN,$ 7796389,352.786,7.5
93,tt0053125,North by Northwest,1959-10-28,"Adventure, Mystery, Thriller",136,USA,NaN,Alfred Hitchcock,NaN,$ 73446,291.628,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

# Removendo coluna NaN

In [94]:
df['Unnamed: 8'].unique()

array([nan])

In [95]:
df=df.drop(columns='Unnamed: 8')
df.isna().sum()

IMBD title ID      1
Original titlÊ     1
Release year       1
Genrë¨             1
Duration           2
Country            1
Content Rating    24
Director           1
Income             1
 Votes             1
Score              1
dtype: int64

In [96]:
df['Content Rating'].unique()

array(['R', 'PG-13', 'Not Rated', 'Approved', nan, 'PG', 'Unrated', 'G'],
      dtype=object)

In [97]:
df[df['Content Rating'].isna()]

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,tt0118799,La vita B9 bella,1997-12-20,"Comedy, Drama, Romance",116,Italy1,NaN,Roberto Benigni,$ 230098753,605.648,8.6
28,tt6751668,Gisaengchung,2019-11-07,"Comedy, Drama, Thriller",132,South Korea,NaN,Bong Joon Ho,$ 257604912,470.931,8.6
36,tt0110413,LÃ©on,1995-04-07,"Action, Crime, Drama",110,France,NaN,Luc Besson,$ 19552639,1.007.598,8.5
40,tt7286456,Joker,2019-10-03,"Crime, Drama, Thriller",122,USA,NaN,Todd Phillips,$ 1074251311,855.097,8.4
41,tt1675434,Intouchables,2012-02-24,"Biography, Comedy, Drama",112,France,NaN,"Olivier Nakache, Ãric Toledano",$ 426588510,736.691,8.4
47,tt0095327,Hotaru no haka,2015-10-11,"Animation, Drama, War",89,Japan,NaN,Isao Takahata,$ 516962,225.438,8.3
48,tt0095765,Nuovo Cinema Paradiso,1988-11-17,Drama,155,Italy,NaN,Giuseppe Tornatore,$ 13826605,223.050,8.3
56,tt4154756,Avengers: Infinity War,2018-04-25,"Action, Adventure, Sci-Fi",149,USA,NaN,"Anthony Russo, Joe Russo",$ 2048359754,796.486,8.2
58,tt4154796,Avengers: Endgame,2019-04-24,"Action, Adventure, Drama",181,USA,NaN,"Anthony Russo, Joe Russo",$ 2797800564,754.786,8.2
62,tt0047396,Rear Window,1955-04-14,"Mystery, Thriller",112,USA,NaN,Alfred Hitchcock,$ 37032034,432.390,8.1
63,tt2380307,Coco,2017-12-28,"Animation, Adventure, Family",105,USA,NaN,"Lee Unkrich, Adrian Molina",$ 807083670,352.455,8.1
65,tt4633694,Spider-Man: Into the Spider-Verse,2018-12-25,"Animation, Action, Adventure",117,USA,NaN,"Bob Persichetti, Peter Ramsey",$ 375540831,335.892,8.1
66,tt1187043,3 Idiots,2009-12-25,"Comedy, Drama",170,India,NaN,Rajkumar Hirani,$ 60262836,332.217,8.1
69,tt0032553,The Great Dictator,1945-06-25,"Comedy, Drama, War",125,USA,NaN,Charles Chaplin,$ 969879,197.381,8.0
70,tt0043014,Sunset Blvd.,"The 6th of marzo, year 1951","Drama, Film-Noir",110,USA,NaN,Billy Wilder,$ 299645,195.789,8.0
81,tt0066921,A Clockwork Orange,1972-09-07,"Crime, Drama, Sci-Fi",136,UK,NaN,Stanley Kubrick,$ 26903440,740.301,7.8
86,tt0093058,Full Metal Jacket,1987-10-09,"Drama, War",116,UK,NaN,Stanley Kubrick,$ 46357676,658.175,7.7
89,tt0033467,Citizen Kane,1948-11-25,"Drama, Mystery",119,USA,NaN,Orson Welles,$ 1594107,389.322,7.6
90,tt8579674,1917,2020-01-23,"Drama, War",119,USA,NaN,Sam Mendes,$ 384857224,362.897,7.6
92,tt0052357,Vertigo,1958-11-18,"Mystery, Romance, Thriller",128,USA,NaN,Alfred Hitchcock,$ 7796389,352.786,7.5
93,tt0053125,North by Northwest,1959-10-28,"Adventure, Mystery, Thriller",136,USA,NaN,Alfred Hitchcock,$ 73446,291.628,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [101]:
df['Content Rating']=df['Content Rating'].replace('Unrated','Not Rated')

In [98]:
df['Content Rating'].unique()

array(['R', 'PG-13', 'Not Rated', 'Approved', nan, 'PG', 'Unrated', 'G'],
      dtype=object)

In [99]:
df['Content Rating']=df['Content Rating'].fillna('Not Rated')

In [102]:
df.isna().sum()
df.head()

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"

In [103]:
df['Content Rating']=df['Content Rating'].replace('Unrated','Not Rated')
df['Content Rating'].unique()
df['Content Rating']=df['Content Rating'].fillna('Not Rated')

In [104]:
df.isna().sum()

IMBD title ID     1
Original titlÊ    1
Release year      1
Genrë¨            1
Duration          2
Country           1
Content Rating    0
Director          1
Income            1
 Votes            1
Score             1
dtype: int64

In [105]:
df.head()

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"

# Renomeando países com mesmo nome

In [110]:
df['Country'].unique()

array(['USA', 'US', 'New Zealand', 'UK', 'New Zesland', 'Italy', nan,
       'New Zeland', 'US.', 'Brazil', 'Japan', 'Italy1', 'South Korea',
       'France', 'Germany', 'India', 'Denmark', 'West Germany', 'Iran'],
      dtype=object)

In [111]:
map = {'US.':'USA','US':'USA','New Zesland':'New Zealand','New Zeland':'New Zealand','Italy1':'Italy'}

df['Country']=df['Country'].replace(map,regex=False)
df['Country'].unique()

array(['USA', 'New Zealand', 'UK', 'Italy', nan, 'Brazil', 'Japan',
       'South Korea', 'France', 'Germany', 'India', 'Denmark',
       'West Germany', 'Iran'], dtype=object)

# Convertendo renda, votos e pontuação em numérico

In [112]:
ord(df['Income'].iloc[0][0])

36

In [113]:
map={' ':'','o':'0',',':''}

df['Income']=df['Income'].str[1:].replace(map,regex=True)

np.any(df['Income'].str.contains(' '))

False

In [ ]:
df=df.dropna(subset='Income')
df['Income']=df['Income'].astype(int)
df=df.rename(columns={'Income':'Income(in $)'})

df.head()

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Unnamed: 8,Income(in $),Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,8815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,46120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,NaN,5455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,8035783,1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,22831817,1.780.147,"8,9f"

In [44]:
df=df.rename(columns={' Votes ':'Votes'})

df['Votes'].unique()

array([2278845, 1572674, 2241615, 1098714, 1780147, 1604280, 1183248,
        668473, 2002816, 1807440, 1755490, 1619920,  672499, 1632315,
       1449778, 1132073,  991505,  891071, 1449256, 1402015, 1234134,
       1204107, 1203825, 1112336,  685856,  626693,  605648,  470931,
        388310,  307958, 1308193, 1159703, 1155723, 1027330, 1014218,
       1007598,  974970,  968947,  917248,  855097,  736691,  707942,
        690732,  586765,  509953,  295220,  225438,  223050,  211250,
       1480582, 1317856, 1098879,  974734,  869480,  865510,  796486,
        768874,  754786,  591251,  501082,  441115,  432390,  352455,
        349642,  335892,  332217,  331045,  302317,  197381,  195789,
       1229958, 1049009,  941683,  928036,  896551,  889875,  864461,
        837379,  766589,  748291,  740301,  739717,  721343,  703264,
        690480,  658175,  639500,  587866,  389322,  362897,  361028,
        352786,  291628,  269616,  261504,  236285,  226427,  226039,
        214165,  213152])

In [49]:
df['Votes']=df['Votes'].astype(int)
df['Score'].head()

0     9.3
1     9.2
2      9.
3    9,.0
4    8,9f
Name: Score, dtype: object

In [51]:
df['Score'].unique()

array(['9.3', '9.2', '9.', '9,.0', '8,9f', '08.9', '8.9', '8..8', '8.8',
       '8:8', '++8.7', '8.7.', '8,7e-0', '8.7', '8.6', '8,6', '8.5',
       '8.4', '8.3', '8.2', '8.1', '8.0', '7.9', '7.8', '7.7', '7.6',
       '7.5', '7.4'], dtype=object)

In [53]:
df['Score'].value_counts()

Score
8.6       11
8.2        8
8.3        8
8.1        7
8.4        7
8.5        6
7.5        6
7.8        6
8.0        6
7.9        5
7.6        4
7.7        4
7.4        3
8.8        3
8.7        2
8.9        2
9.2        1
8,6        1
8,7e-0     1
8.7.       1
++8.7      1
8:8        1
8..8       1
08.9       1
8,9f       1
9,.0       1
9.         1
9.3        1
Name: count, dtype: int64

In [55]:
map = {'8,9f':'8.9','9,.0':'9.0','08.9':'8.9','8:8':'8.8','8,7e-0':'8.7','++8.7':'8.7','8..8':'8.8','8,6':'8.6','8.7.':'8.7','9.':'9.0'}

In [58]:
df['Score']=df['Score'].replace(map,regex=False).astype(float)
df.head()

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Unnamed: 8,Income(in $),Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,8815245,2278845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,46120974,1572674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,NaN,5455211,2241615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,8035783,1098714,9.0
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,22831817,1780147,8.9

# Processamento e tratamento de valores ausentes

In [60]:
df['Duration'].unique()

array(['142', '175', '152', '220', ' ', '201', 'Nan', '96', '148', 'Inf',
       '178c', '161', nan, '179', 'Not Applicable', '146', '-', '169',
       '127', '118', '121', '189', '130', '125', '116', '132', '207',
       '155', '151', '119', '110', '137', '106', '88', '122', '112',
       '150', '109', '102', '165', '89', '87', '164', '113', '98', '115',
       '149', '117', '181', '147', '120', '95', '105', '170', '134',
       '229', '153', '178', '131', '99', '108', '81', '126', '104', '136',
       '103', '114', '160', '128', '228', '129', '123'], dtype=object)

In [62]:
df['Duration']=df['Duration'].replace('c','',regex=True)
df.head()

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Unnamed: 8,Income(in $),Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,8815245,2278845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,46120974,1572674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,NaN,5455211,2241615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,8035783,1098714,9.0
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,22831817,1780147,8.9

In [63]:
df['Release year'].unique()

array(['1995-02-10', '09 21 1972', ' 23 -07-2008', '1975-09-25',
       '1994-10-28', '22 Feb 04', '1994-03-11', '1957-09-04',
       '2010-09-24', '10-29-99', '1994-10-06', '2002-01-18',
       '23rd December of 1966 ', '1999-05-07', '01/16-03', '1980-09-19',
       '1990-09-20', '18/11/1976', '2014-11-06', '1995-12-15',
       '1991-03-05', '1977-10-20', '1998-10-30', '2000-10-03',
       '2003-05-09', '2003-04-18', '1997-12-20', '2019-11-07',
       '1948-03-11', '1955-08-19', '2000-05-19', '2006-10-27',
       '2006-12-22', '1985-10-18', '1999-08-27', '1995-04-07',
       '1991-12-19', '1995-11-30', '1994-11-25', '2019-10-03',
       '2012-02-24', '2002-10-25', '2015-02-12', '1960-10-28', '21-11-46',
       '1968-12-21', '2015-10-11', '1988-11-17', '1937-03-12',
       '2012-08-29', '2013-01-17', '2001-01-19', '2008-10-17',
       '1980-12-22', '1981-06-12', '2018-04-25', '1979-10-25',
       '2019-04-24', '1979-12-18', '2005-05-06', '1964-04-03',
       '1955-04-14', '2017-12-28', '2007-04-06', '2018-12-25',
       '2009-12-25', '1984-09-28', '1945-06-25',
       'The 6th of marzo, year 1951', '2009-10-02', '2000-01-21',
       '1995-12-01', '1983-10-21', '1992-10-09', '2004-10-22',
       '1996-03-22', '1998-03-06', '2001-03-16', '2000-12-15',
       '1972-09-07', '2010-07-07', '1984-02-34', '1976-13-24',
       '2002-01-25', '1987-10-09', '1986-09-24', '1968-12-12',
       '1948-11-25', '2020-01-23', '1985-02-15', '1958-11-18',
       '1959-10-28', '2012-11-22', '1963-10-29', '1974-03-21',
       '1982-03-18', '1965-12-20', '2011-10-21', '1953-02-05'],
      dtype=object)

In [114]:
#Array em DataFrame
data = np.array(['1995-02-10', '09 21 1972', ' 23 -07-2008', '1975-09-25',
                 '1994-10-28', '22 Feb 04', '1994-03-11', '1957-09-04',
                 '2010-09-24', '10-29-99', '1994-10-06', '2002-01-18',
                 '23rd December of 1966 ', '1999-05-07', '01/16-03', '1980-09-19',
                 '1990-09-20', '18/11/1976', '2014-11-06', '1995-12-15',
                 '1991-03-05', '1977-10-20', '1998-10-30', '2000-10-03',
                 '2003-05-09', '2003-04-18', '1997-12-20', '2019-11-07',
                 '1948-03-11', '1955-08-19', '2000-05-19', '2006-10-27',
                 '2006-12-22', '1985-10-18', '1999-08-27', '1995-04-07',
                 '1991-12-19', '1995-11-30', '1994-11-25', '2019-10-03',
                 '2012-02-24', '2002-10-25', '2015-02-12', '1960-10-28', '21-11-46',
                 '1968-12-21', '2015-10-11', '1988-11-17', '1937-03-12',
                 '2012-08-29', '2013-01-17', '2001-01-19', '2008-10-17',
                 '1980-12-22', '1981-06-12', '2018-04-25', '1979-10-25',
                 '2019-04-24', '1979-12-18', '2005-05-06', '1964-04-03',
                 '1955-04-14', '2017-12-28', '2007-04-06', '2018-12-25',
                 '2009-12-25', '1984-09-28', '1945-06-25',
                 'The 6th of marzo, year 1951', '2009-10-02', '2000-01-21',
                 '1995-12-01', '1983-10-21', '1992-10-09', '2004-10-22',
                 '1996-03-22', '1998-03-06', '2001-03-16', '2000-12-15',
                 '1972-09-07', '2010-07-07', '1984-02-34', '1976-13-24',
                 '2002-01-25', '1987-10-09', '1986-09-24', '1968-12-12',
                 '1948-11-25', '2020-01-23', '1985-02-15', '1958-11-18',
                 '1959-10-28', '2012-11-22', '1963-10-29', '1974-03-21',
                 '1982-03-18', '1965-12-20', '2011-10-21', '1953-02-05'])

df = pd.DataFrame(data, columns=['dates'])

In [115]:
df['dates'] = pd.to_datetime(df['dates'], errors='coerce', dayfirst=True)

#Converter número de dias desde uma data de referência
df['numeric_dates'] = (df['dates'] - pd.Timestamp('1970-01-01')) // pd.Timedelta('1D')
print(df)

        dates  numeric_dates
0  1995-10-02         9405.0
1         NaT            NaN
2         NaT            NaN
3         NaT            NaN
4         NaT            NaN
..        ...            ...
94        NaT            NaN
95        NaT            NaN
96        NaT            NaN
97        NaT            NaN
98 1953-05-02        -6088.0

[99 rows x 2 columns]

In [116]:
#Substituir NaT por uma data padrão
df['dates'].fillna(pd.Timestamp('1970-01-01'), inplace=True)

#Substituir NaN por 0
df['numeric_dates'].fillna(0, inplace=True)

#Substituir NaN pela média
df['numeric_dates'].fillna(df['numeric_dates'].mean(), inplace=True)

#Remover linhas com NaN ou NaT
df.dropna(inplace=True)

In [117]:
#Substituir NaT por uma data calculada a partir de numeric_dates, se possível
df['dates'] = df.apply(lambda row: pd.Timestamp('1970-01-01') + pd.to_timedelta(row['numeric_dates'], unit='D')
                       if pd.isna(row['dates']) and not pd.isna(row['numeric_dates']) else row['dates'], axis=1)

In [81]:
print(df)

        dates  numeric_dates
0  1995-10-02         9405.0
1  1970-01-01            0.0
2  1970-01-01            0.0
3  1970-01-01            0.0
4  1970-01-01            0.0
..        ...            ...
94 1970-01-01            0.0
95 1970-01-01            0.0
96 1970-01-01            0.0
97 1970-01-01            0.0
98 1953-05-02        -6088.0

[99 rows x 2 columns]

# Informação dos dados numéricos

In [83]:
df.describe()

                               dates  numeric_dates
count                             99      99.000000
mean   1976-04-11 11:52:43.636363648    2292.494949
min              1937-12-03 00:00:00  -11717.000000
25%              1970-01-01 00:00:00       0.000000
50%              1970-01-01 00:00:00       0.000000
75%              1970-01-01 00:00:00       0.000000
max              2019-07-11 00:00:00   18088.000000
std                              NaN    5625.230095

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   dates          99 non-null     datetime64[ns]
 1   numeric_dates  99 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.7 KB

In [85]:
df

        dates  numeric_dates
0  1995-10-02         9405.0
1  1970-01-01            0.0
2  1970-01-01            0.0
3  1970-01-01            0.0
4  1970-01-01            0.0
..        ...            ...
94 1970-01-01            0.0
95 1970-01-01            0.0
96 1970-01-01            0.0
97 1970-01-01            0.0
98 1953-05-02        -6088.0

[99 rows x 2 columns]